<div ng-repeat="alert in alerts" class="alert alert-dismissible"
     ng-class="{'alert-warning' : alert.type == 'warning',
                         'alert-danger' : alert.type == 'danger',
                         'alert-info' : alert.type == 'info',
                         'alert-success' : alert.type == 'success'}"
     role="alert">{{alert.msg}}

    <button type="button" ng-click="ac.closeAlert($index)" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>
</div>