<div id="groups" class="panel panel-default">

    <div class="panel-heading">
        <div class="shift-left">{{lc.getTerm('system_groups')}}</div>
        <div class="shift-right"> <a ng-init="gc.getGroups()" ng-click="gc.getGroups()">
            <span class='glyphicon  glyphicon-refresh'></span> </a>
        </div>
        <div class="float-clear"></div>
    </div>

    <div class="panel-body">
        <div class="menuEntry" ng-repeat="grp in gc.groupsCreatedByThisUserOrUserIsMemberOfGroup">
            <div class="shift-left">
                <a ng-href="/#/group/view/{{ grp.uID }}" ng-show="uc.isStudent()">{{ grp.name }}</a>
                <a ng-href="/#/group/viewexternal/{{ grp.uID }}" ng-show="uc.isSupervisor()">{{ grp.name }}</a>
            </div>

            <div class="shift-right" ng-show="uc.isSupervisor()">
                [<span ng-click="gc.deleteGroup(grp.uID)" class="glyphicon glyphicon-trash">]</span>
            </div>

            <div class="float-clear"></div>
        </div>

        <hr ng-show="gc.groupsThatGrantedReadAccessForThisUser.length != 0">

        <!-- List with read rights -->
        <div class="menuEntry" ng-repeat="grp in gc.groupsThatGrantedReadAccessForThisUser">
            <div class="shift-left">
                <a ng-href="/#/group/view/{{ grp.uID }}" ng-show="uc.isStudent()">{{ grp.name }}</a>
                <a ng-href="/#/group/viewexternal/{{ grp.uID }}" ng-show="uc.isSupervisor()">{{ grp.name }}</a>
            </div>

            <div class="shift-right">
                [<span ng-click="gc.deleteGroup(grp.uID)" class="glyphicon glyphicon-trash">]</span>
            </div>

            <div class="float-clear"></div>
        </div>
    </div>

    <div class="float-clear"></div>
</div>