<div class="shift-left" ng-controller="GalleryCtrl as gallery">
    <div ng-repeat="img in files" class="shift-left" ng-style="{'margin-left': '10px'}" ng-init="collapse[img.uID] = true">


        <img class="imgPreview"  ng-src="/admin/picture/{{img.thumbnailID}}"
             tooltip-html-unsafe="{{picturetooltip}}"
             tooltip-trigger="mouseenter" tooltip-placement="top"
             ng-click="gallery.sendTo(copyto, img.uID)">

        <br>

        <span ng-bind="deletetext"  ng-click="gallery.deletePicture(img.uID); gallery.deletePicture(img.thumbnailID); gallery.deleteKVStore(img.kvStore)"></span>

        <br>

        <span ng-bind="opentext"    ng-click="gallery.refreshTypes(); gallery.openMetaData(img.uID, img.kvStore)"></span>

        <!--
            Collapsed view for meta-data
        -->
        <div collapse="collapse[img.uID]">
            <div class="well well-lg">
                <div ng-repeat="key in gallery.store.keys">
                    <small ng-bind="key"></small>
                    <input type="text" class="form-control" placeholder="key" ng-model="gallery.store[key]">
                </div>

                <button type="button" class="btn btn-primary btn-sm" ng-bind="sendmetadata" ng-click="gallery.saveMetaData(img.uID)"></button>

                <hr>

                <h4 ng-bind-template="{{currentType}}: {{gallery.store.type}}"></h4>
                <select
                        ng-model="gallery.newType"
                        ng-options="value.name for value in gallery.knownImageTypes">
                </select>

                <br>

                <button type="button" class="btn btn-primary btn-sm" ng-bind="updatetype" ng-click="gallery.updateType(gallery.newType)"></button>
            </div>
        </div>

    </div>
</div>
