<div class="shift-left" ng-controller="GalleryCtrl as gallery">
    <div ng-repeat="img in files" class="shift-left" ng-style="{'margin-left': '10px'}">


        <img class="imgPreview"  ng-src="/admin/picture/{{img.thumbnailID}}"
             tooltip-html-unsafe="{{picturetooltip}}"
             tooltip-trigger="mouseenter" tooltip-placement="top"
             ng-click="gallery.sendTo(copyto, img.uID)">

        <br>

        <span ng-bind="deletetext" ng-click="gallery.deletePicture(img.uID); gallery.deletePicture(img.thumbnailID)"></span>

    </div>
</div>
