<h3>
    {{lc.getTerm('system_main_topic')}}
</h3>
<ul>
    <li>
        <a ng-href="/#/edit/{{ gc.bufferedGroup.topic }}" ng-show="uc.isStudent()">{{gc.bufferedTopic.name}}</a>
        <a ng-href="/#/viewExternalSupervisor/{{ gc.bufferedGroup.topic }}" ng-show="uc.isSupervisor()">{{gc.bufferedTopic.name}}</a>

        <img ng-hide="gc.bufferedTopic.status == 'ir' || gc.bufferedTopic.status == 'done'"
             src='assets/images/stop-light-red.png'      alt="Work in Progress" height="16" width="40"
             tooltip-html-unsafe="{{lc.getTerm('tooltip_wip')}}"
             tooltip-trigger="mouseenter" tooltip-placement="right"/>
        <img ng-hide="gc.bufferedTopic.status == 'wip'|| gc.bufferedTopic.status == 'done'"
             src='assets/images/stop-light-yellow.png'   alt="In review" height="16" width="40"
             tooltip-html-unsafe="{{lc.getTerm('tooltip_ir')}}"
             tooltip-trigger="mouseenter" tooltip-placement="right"/>
        <img ng-hide="gc.bufferedTopic.status == 'ir' || gc.bufferedTopic.status == 'wip'"
             src='assets/images/stop-light-green.png'    alt="Done" height="16" width="40"
             tooltip-html-unsafe="{{lc.getTerm('tooltip_done')}}"
             tooltip-trigger="mouseenter" tooltip-placement="right"/>
    </li>
</ul>

<div ng-click="tc.getSubTopicByTopicID(gc.bufferedGroup.topic)">
    <h4 ng-bind="lc.getTerm('system_sub_topics')"></h4>
<div>

<ul>
    <li ng-repeat="topic in tc.subtopics">
        <a ng-href="/#/edit/{{ topic.uID }}" ng-show="uc.isStudent()">{{topic.name}}</a>
        <a ng-href="/#/viewExternalSupervisor/{{topic.uID }}" ng-show="uc.isSupervisor()">{{topic.name}}</a>
                            <span class="glyphicon glyphicon-remove-circle icon-red" ng-show="{{ topic.status == 'wip' }}"
                                  tooltip-html-unsafe="{{lc.getTerm('tooltip_wip')}}"
                                  tooltip-trigger="mouseenter" tooltip-placement="right">
                            </span>
                            <span class="glyphicon glyphicon-eye-open icon-yellow"      ng-show="{{ topic.status == 'ir' }}"
                                  tooltip-html-unsafe="{{lc.getTerm('tooltip_ir')}}"
                                  tooltip-trigger="mouseenter" tooltip-placement="right">
                            </span>
                            <span class="glyphicon glyphicon-ok-circle icon-green"     ng-show="{{ topic.status == 'done' }}"
                                  tooltip-html-unsafe="{{lc.getTerm('tooltip_done')}}"
                                  tooltip-trigger="mouseenter" tooltip-placement="right">
                            </span>
    </li>
</ul>