<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <div group-box></div>

    <div ng-controller="OverlayCtrl as oc">
        <div ng-controller="TopicCtrl as tc">
            <!-- Overlay start -->
            <div id="overlay" classname="overlayBG" class="overlayBG" ng-show="oc.overlayIsShown"></div>
            <div id="lightBox" ng-show="oc.overlayIsShown">
                <div id="contentOfLightBox">
                    <span class="pointer" classname="pointer" ng-click="oc.toggleOverlay()">
                        {{lc.getTerm('system_clickToClose')}}
                    </span>

                    <hr>

                    <h3>
                        {{lc.getTerm('system_main_topic')}}
                    </h3>
                       <ul>
                           <li>
                               <a ng-href="/#/edit/{{ gc.bufferedGroup.topic }}" >{{gc.bufferedGroup.name}}</a>
                               <span class="glyphicon glyphicon-remove-circle"
                                     ng-class="{'ng-hide': gc.bufferedTopic.status == 'ir' || gc.bufferedTopic.status == 'done'}"
                                     tooltip-html-unsafe="{{lc.getTerm('tooltip_wip')}}"
                                     tooltip-trigger="mouseenter" tooltip-placement="right"> </span>
                              <span class="glyphicon glyphicon-eye-open"
                                    ng-class="{'ng-hide': gc.bufferedTopic.status == 'wip' || gc.bufferedTopic.status == 'done'}"
                                    tooltip-html-unsafe="{{lc.getTerm('tooltip_ir')}}"
                                    tooltip-trigger="mouseenter" tooltip-placement="right"> </span>
                              <span class="glyphicon glyphicon-ok-circle"
                                    ng-class="{'ng-hide': gc.bufferedTopic.status == 'ir' || gc.bufferedTopic.status == 'wip'}"
                                    tooltip-html-unsafe="{{lc.getTerm('tooltip_done')}}"
                                    tooltip-trigger="mouseenter" tooltip-placement="right"> </span>
                           </li>
                       </ul>

                    <h4>
                        {{lc.getTerm('system_sub_topics')}}
                    </h4>
                    <ul>
                        <li ng-repeat="topic in tc.subtopics">
                            <a ng-href="/#/edit/{{ topic.uID }}" >{{topic.name}}</a>
                            <span class="glyphicon glyphicon-remove-circle" ng-show="{{ topic.status == 'wip' }}"
                                  tooltip-html-unsafe="{{lc.getTerm('tooltip_wip')}}"
                                  tooltip-trigger="mouseenter" tooltip-placement="right">
                            </span>
                            <span class="glyphicon glyphicon-eye-open"      ng-show="{{ topic.status == 'ir' }}"
                                  tooltip-html-unsafe="{{lc.getTerm('tooltip_ir')}}"
                                  tooltip-trigger="mouseenter" tooltip-placement="right">
                            </span>
                            <span class="glyphicon glyphicon-ok-circle"     ng-show="{{ topic.status == 'done' }}"
                                  tooltip-html-unsafe="{{lc.getTerm('tooltip_done')}}"
                                  tooltip-trigger="mouseenter" tooltip-placement="right">
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Overlay ends -->

            <div id="mainBox">
                <div class="float-clear"></div>

                <div id="welcomePanel" class="panel panel-success">
                    <div id="welcomeBox" class="panel-heading">
                        <div class="shift-left">
                            <span>
                                {{lc.getTerm('system_group_welcome')}} {{gc.bufferedGroup.name}}
                            </span>
                        </div>
                        <div class="shift-right" >
                            {{lc.getTerm('system_group_topic_header')}}
                            <a ng-href="/#/edit/{{gc.bufferedGroup.topic}}">{{gc.bufferedTopic.name}}</a>
                            <a ng-click="   tc.getSubTopicByTopicID(gc.bufferedGroup.topic);
                                            oc.toggleOverlay()">
                                {{lc.getTerm('system_group_topic_header_ext')}}
                            </a>
                        </div>
                        <div class="float-clear"></div>
                    </div>
                    <div class="panel-footer"> {{lc.getTerm('system_group_member')}} {{gc.bufferedGroup.member}}</div>
                </div>

                <div id="contentBox">
                    <div id="supervisorNavigation" class="panel panel-default">
                        <div class="panel-heading"> {{lc.getTerm('system_group_navigation')}} </div>
                        <div class="panel-body">
                            <ul>
                                <li> <a href="#"> ... </a> </li>
                                <li> <a href="/#/group/propose"> {{lc.getTerm('system_group_navigation_proposeTopic')}} </a> </li>
                                <li> <a ng-href="/#/edit/{{gc.bufferedGroup.topic}}">
                                    {{lc.getTerm('system_group_navigation_editContentOfTopic')}}
                                </a> </li>
                                <li> <a href="#"> ... </a> </li>
                            </ul>
                        </div>
                    </div>

                    <div id="groupNotification" class="panel panel-default">
                        <div class="panel-heading"> {{lc.getTerm('system_group_notification')}} </div>
                        <div class="panel-body">
                                <div  class="alert alert-info" role="alert" ng-repeat="message in gc.bufferedGroup.revertedNotifications">
                                    {{lc.getNotification(message)}}
                                </div>
                        </div>
                    </div>

                    <div chat-box></div>

                    <div class="float-clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-clear"></div>
</div>