<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div ng-controller="OverlayCtrl as oc">
        <div ng-controller="TopicCtrl as tc">

            <hip-overlay>
                <topic-list></topic-list>
            </hip-overlay>

            <div id="mainBox">
                <div class="float-clear"></div>

                <div id="welcomePanel" class="panel panel-success">
                    <div id="welcomeBox" class="panel-heading">
                        <div class="shift-left">
                            <span>
                                {{lc.getTerm('system_group_welcome')}} {{gc.bufferedGroup.name}}
                            </span>
                        </div>
                        <div class="shift-right" >
                            {{lc.getTerm('system_group_topic_header')}}
                            <a ng-href="/#/edit/{{gc.bufferedGroup.topic}}">{{gc.bufferedTopic.name}}</a>
                            <a ng-click="   tc.getSubTopicByTopicID(gc.bufferedGroup.topic);
                                            oc.toggleOverlay()">
                                {{lc.getTerm('system_group_topic_header_ext')}}
                            </a>
                        </div>
                        <div class="float-clear"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="shift-left">
                            {{lc.getTerm('system_group_member')}}
                        </div>

                        <div class="shift-left">
                            <img class="userAvatars" ng-repeat="usr in gc.userInGroupArray" ng-src="{{usr.avatar}}"
                                 tooltip-html-unsafe="{{usr.firstname}} {{usr.lastname}}"
                                 tooltip-trigger="mouseenter" tooltip-placement="top">
                        </div>

                        <div class="float-clear"></div>
                    </div>
                </div>

                <div id="contentBox">
                    <div class="panel panel-default quarter-left" ng-show="gc.userIDIsMemberOfGrp(uc.email,gc.bufferedGroup.uID)">
                        <div class="panel-heading"> {{lc.getTerm('system_group_navigation')}} </div>
                        <div class="panel-body">
                            <ul>
                                <li> <a href="/#/group/propose"> {{lc.getTerm('system_group_navigation_proposeTopic')}} </a> </li>
                                <li> <a ng-href="/#/edit/{{gc.bufferedGroup.topic}}">
                                    {{lc.getTerm('system_group_navigation_editContentOfTopic')}}
                                </a> </li>
                                <li> <a ng-href="/#/group/rights/{{gc.bufferedGroup.uID}}"> {{lc.getTerm('system_group_navigation_inviteRead')}} </a> </li>
                                <li> <a ng-href="/#/group/3d/{{gc.bufferedGroup.uID}}"> {{lc.getTerm('system_group_navigation_3d_data')}} </a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default almost-half"
                         ng-show="gc.userIDIsMemberOfGrp(uc.email,gc.bufferedGroup.uID) || gc.userIDIsReaderOfGrp(uc.email,gc.bufferedGroup.uID)">
                        <div class="panel-heading"> {{lc.getTerm('system_group_notification')}} </div>
                        <div class="panel-body scroll">
                                <div  class="alert alert-info" role="alert" ng-repeat="message in gc.bufferedGroup.revertedNotifications">
                                    {{lc.getNotification(message)}}
                                </div>
                        </div>
                    </div>

                    <chat-box ng-show="gc.userIDIsMemberOfGrp(uc.email,gc.bufferedGroup.uID)"></chat-box>

                    <div class="float-clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-clear"></div>
</div>