<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="MessageCtrl as mc">
        <div class="panel-heading"> {{lc.getTerm('system_messages_head')}} </div>
        <div>
            <div class="panel-body">
                <h4>{{ mc.detailMessage.title }}</h4>

                <br>

                {{mc.detailMessage.content}}

                <br>

                <a ng-href="/#/messages/all/{{uc.email}}" id="btn_cancel" class="btn btn-warning">{{lc.getTerm('system_messages_back')}}</a>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
