<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div>
        <div ng-controller="TopicCtrl as tc">

            <div id="mainBox">
                <div class="float-clear"></div>

                <div id="welcomePanel" class="panel panel-success">
                    <div id="welcomeBox" class="panel-heading">
                        <div class="shift-left">
                            <span>
                                {{lc.getTerm('system_group_welcome')}} {{gc.bufferedGroup.name}}
                            </span>
                        </div>
                        <div class="shift-right" >
                            {{lc.getTerm('system_group_topic_header')}}
                            {{gc.bufferedTopic.name}}
                        </div>
                        <div class="float-clear"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="shift-left">
                            {{lc.getTerm('system_group_member')}}
                        </div>

                        <div class="shift-left">
                            <img class="userAvatars" ng-repeat="usr in gc.userInGroupArray" ng-src="{{usr.avatar}}"
                                 tooltip-html-unsafe="{{usr.firstname}} {{usr.lastname}}"
                                 tooltip-trigger="mouseenter" tooltip-placement="top">
                        </div>

                        <div class="float-clear"></div>
                    </div>
                </div>

                <div id="contentBox">
                    <div class="panel panel-default almost-3quarter">
                        <div class="panel-heading"> {{lc.getTerm('system_group_listOfTopics')}} </div>
                        <div class="panel-body">
                            <div ng-controller="TopicCtrl as tc">
                                <topic-list topic="gc.bufferedGroup.topic"></topic-list>
                            </div>
                        </div>
                    </div>

                    <chat-box></chat-box>

                    <div class="float-clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-clear"></div>
</div>