<div ng-controller="GroupCtrl as gc">

    <div id="mainSingleBoxBig" class="panel panel-default" ng-controller="MessageCtrl as mc">
        <div class="panel-heading">
            <a ng-href="/#/messages/all/{{ uc.email }}"><back-arrow></back-arrow></a>
            {{lc.getTerm('system_sendMessage_header')}}
        </div>
        <div >

            <div class="panel-body">
                <form id="SendMessageForm" name="SendMessageForm" class="form-horizontal" role="form"
                      ng-submit="mc.sendMessage(uc.email)">
                    <h4 ng-bind="lc.getTerm('system_sendMessage_information')"></h4>

                    <alert-box></alert-box>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_sendMessage_reciever')"></span>

                                <input type="text" class="form-control" ng-model="mc.messageThatGetsCurrentlyCreated.receiver"
                                       placeholder="Name"
                                       tooltip-html-unsafe="{{lc.getTerm('tooltip_send_mail')}}"
                                       typeahead="user.email as user.firstname + ' ' + user.lastname for user in uc.userList | filter:$viewValue | limitTo:8"
                                       typeahead-editable="false"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_sendMessage_title')"></span>
                                <input type="text" class="form-control" ng-model="mc.messageThatGetsCurrentlyCreated.title">
                            </div>

                            <br>

                            <div text-angular ng-model="mc.messageThatGetsCurrentlyCreated.content"></div>

                            <cancel-submit  cancel="lc.getTerm('system_sendMessage_cancel')"
                                            submit="lc.getTerm('system_sendMessage_create')"
                                            alertcontroller="ac" languagecontroller="lc"
                                            alertmsg="notification_mail_send">
                            </cancel-submit>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
