<div>
    <div id="mainSingleBoxBig" class="panel panel-default">
        <div class="panel-heading"> Impressum </div>
        <div>
            <div class="panel-body">
                <h4 ng-bind="lc.getTerm('system_responsible_for_site')"></h4>

                <br>

                Jörg Amelunxen <br>
                jamelunx (at) mail.upb.de <br>
                Paulinenstraße 9 <br>
                33098 Paderborn <br>

                <div class="float-clear"></div>

            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
