<div ng-controller="GroupCtrl as gc">

    <div id="mainSingleBoxBig" class="panel panel-default" ng-controller="MessageCtrl as mc">
        <div class="panel-heading">
            <a ng-href="/#/messages/all/{{ uc.email }}"><back-arrow></back-arrow></a>
            {{lc.getTerm('system_sendMessage_header')}}
        </div>
        <div >

            <div class="panel-body">
                <form id="SendMessageForm" name="SendMessageForm" class="form-horizontal" role="form"
                      ng-submit="mc.sendMessage(uc.email)">
                    <h4 ng-bind="lc.getTerm('system_sendMessage_information')"></h4>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                        {{lc.getTerm('system_sendMessage_reciever')}}
                                    </span>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="user in uc.userList">
                                            <a ng-click="mc.messageThatGetsCurrentlyCreated.receiver = user.email" ng-bind="user.email"></a>
                                        </li>
                                    </ul>
                                </span>

                                <input type="text" class="form-control" name="rec" id="rec" placeholder=""
                                       ng-model="mc.messageThatGetsCurrentlyCreated.receiver">

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_sendMessage_title')"></span>
                                <input type="text" class="form-control" name="messageTitle" id="messageTitle" placeholder=""
                                       ng-model="mc.messageThatGetsCurrentlyCreated.title">
                            </div>

                            <br>

                            <div text-angular ng-model="mc.messageThatGetsCurrentlyCreated.content"></div>

                            <cancel-submit  cancel="lc.getTerm('system_sendMessage_cancel')"
                                            submit="lc.getTerm('system_sendMessage_create')">
                            </cancel-submit>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
