<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainBox">
        <div class="float-clear"></div>

        <div id="welcomePanel" class="panel panel-success hide-mobile">

            <div id="welcomeBox" class="panel-heading">
                <div ng-show="uc.isSupervisor()">
                    {{lc.getTerm('system_supervisor_welcome')}} {{uc.firstname}}
                </div>

                <div ng-show="uc.isStudent()">
                    {{lc.getTerm('system_student_welcome')}} {{uc.firstname}}
                </div>
            </div>
            <div class="panel-footer">
                <div ng-show="uc.isSupervisor()" ng-bind="lc.getTerm('system_supervisor_datareview')"></div>
            </div>
        </div>

        <div id="contentBox">
            <div class="panel panel-default quarter-left">
                <div class="panel-heading">
                    <div ng-show="uc.isSupervisor()"    ng-bind="lc.getTerm('system_supervisor_navigation')"></div>

                    <div ng-show="uc.isStudent()"       ng-bind="lc.getTerm('system_student_navigation')"></div>
                </div>
                <div class="panel-body">

                    <div ng-show="uc.isSupervisor()">
                        <ul>
                            <li> <a href="/#/topic/create"  ng-bind="lc.getTerm('system_supervisor_navigation_addTopic')"> </a> </li>
                            <li> <a ng-href="/#/topic/modify/{{ uc.email }}" ng-bind="lc.getTerm('system_supervisor_navigation_modifyTopic')"> </a> </li>
                            <li> <a href="/#/group/create"  ng-bind="lc.getTerm('system_supervisor_navigation_addGroup')"> </a> </li>
                            <li> <a href="/#/browse"        ng-bind="lc.getTerm('system_navigation_browse')"> </a> </li>
                        </ul>
                    </div>

                    <div ng-show="uc.isStudent()">
                        <ul>
                            <li> <a href="/#/browse" ng-bind="lc.getTerm('system_navigation_browse')"> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>


            <aggregated-notifications groupcontroller="gc"
                                      languagecontroller="lc"
                                      usercontroller="uc"></aggregated-notifications>


            <div class="panel panel-default quarter-right" ng-show="uc.isSupervisor()" ng-controller="TemplateCtrl as templateC">
                <div class="panel-heading"  ng-bind="lc.getTerm('system_supervisor_templates')"> </div>
                <div class="panel-body">
                    <div class="menuEntry"  ng-repeat="template in templateC.templates.keys">
                        <div class="shift-left">
                            <a ng-href="/#/" ng-bind="template"></a>
                        </div>

                        <div class="shift-right">
                            <li class="dropdown li-no-dec">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a ng-click="">
                                          {{lc.getTerm('preview')}} <span class="glyphicon glyphicon-camera pull-right"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a ng-click="">
                                        {{lc.getTerm('delete')}} <span class="glyphicon glyphicon-trash pull-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </div>

                        <div class="float-clear"></div>
                    </div>

                    <!-- collapsed previews -->
                    <div>
                        
                    </div>
                        <!--
                            0) Create TemplateController:
                            1) get templates from UserAdd via keyValueService
                            2) ng-repeat="template in userAdd.templates" {{show}}

                            If templates in UserADD == -1 -> create a new empty KV Store for templates
                            Type of these KV-Stores is template

                            DON'T FORGET THE BACKEND METHODS!
                        -->
                    <hr>

                    <button type="button" class="btn btn-primary btn-sm" ng-bind="lc.getTerm('newTemplate')"></button>

                </div>
            </div>

            <div class="float-clear"></div>
        </div>
    </div>

    <div class="float-clear"></div>
</div>