<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default">
        <div class="panel-heading" ng-bind="lc.getTerm('system_groups_meshes')"> </div>
        <div class="panel-body">

            <!-- VIEWER -->
            <div ng-controller="MeshCtrl as mesh">
                <a href ng-click="mesh.resetCamera()">Reset Kamera</a>
                <div id="meshViewer" width="800" height="600">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
