<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading">
            <a ng-href="/#/group/viewexternal/{{ tc.currentTopic.group }}"><back-arrow></back-arrow></a>
            {{lc.getTerm('system_topic_detail_head')}}
        </div>
        <div>
            <div class="panel-body" ng-controller="AnnotationCtrl as annoCtrl">
                <div id="concreteContent" ng-show="tc.currentTopic.status == 'done'">
                    <h4 ng-bind="tc.currentTopic.name"></h4>

                    <br>

                    <div class="shift-right">
                        <button ng-click="annoCtrl.startAnnotation('#concreteContent')"
                                class="btn btn-success" id="btn_create">
                            {{lc.getTerm('start_annotation')}}
                        </button>
                    </div>

                    <div ng-bind-html="tc.currentTopic.content"></div>
                    <br>
                </div>

                <div id="briefContent" ng-show="tc.currentTopic.status != 'done'">
                    <h4 ng-bind="tc.currentTopic.name"></h4>

                    <br>

                    <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                          ng-submit="tc.updateConstraints()">
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div ng-repeat="constraint in tc.constraintsForThisTopic">
                                    <div class="form-group">
                                        <span ng-class="{   'hip-button-red'        : constraint.fulfilled == false,
                                                            'hip-button-green'      : constraint.fulfilled == true}">
                                            {{ lc.getTerm(constraint.languageTerm) }}
                                        </span>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                {{ lc.getTerm(constraint.languageTerm) }}
                                            </span>

                                            <input type="text" class="form-control" name="conValue" id="conValue" placeholder=""
                                                   ng-model="constraint.valueInTopic" tooltip="{{lc.getTerm('tooltip_constraint')}}"
                                                   tooltip-trigger="focus" tooltip-placement="right" disabled>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                {{ lc.getTerm(constraint.name) }}
                                            </span>

                                            <input type="text" class="form-control" name="groupName" id="groupName" placeholder=""
                                                   ng-model="constraint.value" tooltip="{{lc.getTerm('tooltip_constraint')}}"
                                                   tooltip-trigger="focus" tooltip-placement="right">
                                        </div>
                                    </div>
                                </div>


                                <cancel-submit  cancel="lc.getTerm('system_groups_form_cancel')"
                                                submit="lc.getTerm('system_topic_detail_changeConstraint')">
                                </cancel-submit>
                            </div>
                        </div>
                    </form>
                </div>

                <hr>

                <div class="col-sm-offset-1 col-sm-10">
                    <chat-box-big></chat-box-big>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
