<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="ProposeCtrl as pc">
        <div class="panel-heading" ng-bind="lc.getTerm('system_propose_header')"> </div>
        <div >

            <div class="panel-body">
                <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                      ng-submit="pc.proposeTopic('j.amelunxen@googlemail.com',uc.email, lc.getTerm('system_propose'))">
                    <h4 ng-bind="lc.getTerm('system_propose_information')"></h4>

                    <alert-box></alert-box>

                    <span ng-bind="lc.getTerm('system_propose_infotext')"></span>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10 ">
                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_propose_name')"></span>
                                <input type="text" class="form-control" name="proposeName" id="proposeName" placeholder=""
                                       ng-model="pc.propose.name" ng-model="gc.currentGroupTopic.topic"
                                       tooltip="{{lc.getTerm('tooltip_proposeTopic_name')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_propose_desc')"></span>
                                <input type="text" class="form-control" name="proposeDesc" id="proposeDesc" placeholder=""
                                       ng-model="pc.propose.content" ng-model="gc.currentGroupTopic.topic"
                                       tooltip="{{lc.getTerm('tooltip_proposeTopic_desc')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <br>

                            <cancel-submit  cancel="lc.getTerm('system_propose_form_cancel')"
                                            submit="lc.getTerm('system_propose_form_create')"
                                            alertcontroller="ac" languagecontroller="lc"
                                            alertmsg="notification_propose_created">
                            </cancel-submit>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
