<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <div id="groups" class="panel panel-default">

        <div class="panel-heading">
            <div class="menuLeft">{{lc.getTerm('system_groups')}}</div>
            <div class="menuRight"> <a ng-init="gc.getGroups()" ng-click="gc.getGroups()">
                <span class='glyphicon  glyphicon-refresh'></span> </a>
            </div>
            <div class="float-clear"></div>
        </div> <!-- alt: class="boxHeader" -->

        <div class="panel-body">
            <div class="menuEntry" ng-repeat="grp in gc.groups">
                <div class="menuLeft">
                    <a ng-href="/#/group/view/{{ grp.uID }}">{{ grp.name }}</a>
                </div>

                <div class="menuRight">
                    [<span ng-click="gc.deleteGroup(grp.uID)" class="glyphicon glyphicon-trash">]</span>
                </div>

                <div class="float-clear"></div>
            </div>
        </div> <!-- alt: class="boxContent" -->

        <div class="float-clear"></div>
    </div>

    <div id="mainBox">
        <div class="float-clear"></div>

        <div id="welcomePanel" class="panel panel-success">
            <div id="welcomeBox" class="panel-heading"> {{lc.getTerm('system_group_welcome')}} {{gc.bufferedGroup.name}}</div>
            <div class="panel-footer"> {{lc.getTerm('system_group_member')}} {{gc.bufferedGroup.member}}</div> <!-- alt: id="dataReview" -->
        </div>

        <div id="contentBox">
            <div id="supervisorNavigation" class="panel panel-default">
                <div class="panel-heading"> {{lc.getTerm('system_group_navigation')}} </div>
                <div class="panel-body">
                    <ul>
                        <li> <a href="#"> ... </a> </li>
                        <li> <a href="#"> ... </a> </li>
                    </ul>
                </div>
            </div>

            <div id="groupNotification" class="panel panel-default">
                <div class="panel-heading"> {{lc.getTerm('system_group_notification')}} </div>
                <div class="panel-body">
                        <div  class="alert alert-info" role="alert" ng-repeat="message in gc.bufferedGroup.notifications">
                            {{lc.getNotification(message)}}
                        </div>
                </div>
            </div>

            <div id="templates" class="panel panel-default" ng-controller="ChatCtrl as cc">
                <div class="panel-heading"> {{lc.getTerm('system_chat_head')}} {{cc.chat.name}} </div>
                <div class="panel-body">
                    <div id="chatContent">
                        <div  class="alert alert-info" role="alert" ng-repeat="message in cc.messagesJSON" ng-hide='message.content == ""'>
                            {{message.content}} <br> <p align="right">  {{lc.getTerm('system_chat_by')}} {{message.sender}} </p>
                        </div>
                    </div>

                    <br>

                    <div id="chatControls">
                        <div id="chatTextfield">
                            <input id="message" type="text" size="10" ng-model="cc.currentMessage" class="form-control">
                        </div>
                       <div id="chatSendButton">
                           <button type="button" ng-click="cc.postMessage(false)" class="btn btn-default"> {{lc.getTerm('system_chat_send')}} </button>
                       </div>
                    </div>

                </div>
            </div>

            <div class="float-clear"></div>
        </div>
    </div>

    <div class="float-clear"></div>
</div>