<div ng-controller="GroupCtrl as gc" ng-init="showDiv = 1">
    <div id="mainSingleBoxBig" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading" ng-show="gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)">
            <div class="shift-left">
                <a ng-href="/#/group/view/{{ tc.currentTopic.group }}"><back-arrow></back-arrow></a>
                <a ng-click="showDiv = 1">{{lc.getTerm('system_edit_header')}}:
                    {{ tc.currentTopic.name }} (V. {{ tc.topicVersion }})</a>
            </div>

            <div class="shift-right">
                <a ng-click="showDiv = 3" ng-bind="lc.getTerm('system_open_topicHistory')"> </a> |
                <a ng-click="showDiv = 2" ng-bind="lc.getTerm('system_open_chat')"> </a>
            </div>

            <div class="float-clear"></div>
        </div>

        <!--
        GROUP MEMBER VIEW
        -->
        <div ng-show="gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)" ng-init="status = false; picUpload = false; footnotes = false">
            <div class="panel-body shift-left" ng-controller="OverlayCtrl as oc" ng-show="showDiv == 1">
                <fullscreen-overlay>
                    <div text-angular ng-model="tc.currentTopic.content" ng-style="{'min-height': '500px',
                    'overflow': 'scroll', 'max-height':'550px'}"></div>
                </fullscreen-overlay>

                <h4 ng-click="status = !status">
                    {{lc.getTerm('system_edit_status')}}
                    <span class="pull-right label" ng-class="{'label-success':tc.evaluateMaxCharConstraint() == 'green',
                                                              'label-warning':tc.evaluateMaxCharConstraint() == 'yellow',
                                                              'label-danger':tc.evaluateMaxCharConstraint() == 'red'}">

                        {{lc.getTerm("chars_remaining")}}: {{tc.maxchar - tc.currentTopic.content.length}}</span>
                </h4>

                <div collapse="status">
                    <div class="well well-lg">
                        <span ng-bind-template="Deadline: {{ tc.getDateAsString() }}"></span>

                        <alert-box ac="ac"></alert-box>

                        <div class="radio" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">
                            <label>
                                <input type="radio" name="radioWIP" ng-model="tc.currentTopic.status" value="wip">{{lc.getTerm('system_wip')}}
                            </label>
                        </div>
                        <div class="radio" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">
                            <label>
                                <input type="radio" name="radioIR" ng-model="tc.currentTopic.status" value="ir">{{lc.getTerm('system_ir')}}
                            </label>
                        </div>
                        <div class="radio" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">
                            <label>
                                <input type="radio" name="radioDONE" ng-model="tc.currentTopic.status" value="done">{{lc.getTerm('system_done')}}
                            </label>
                        </div>
                    </div>
                </div>

                <hr>

                <!--
                Show this edit field iff status of the topic is work in progress
                -->
                <div ng-show="tc.currentTopic.status == 'wip'">

                    <!-- Picture upload -->
                    <h5 ng-bind="lc.getTerm('system_upload_header')" ng-click="picUpload = !picUpload"></h5>

                    <div collapse="picUpload">
                            <div class="shift-left">
                                <media-gallery files="tc.media"
                                               picturetooltip="lc.getTerm('tooltip_img_use')"
                                               deletetext="lc.getTerm('tooltip_img_delete')"
                                               opentext="lc.getTerm('open_image_meta')"
                                               sendmetadata="lc.getTerm('send_metadata')"
                                               copyto="tc"></media-gallery>
                            </div>
                            <div class="shift-right">
                                <upload-box label="lc.getTerm('system_upload')" tc="tc"></upload-box>
                            </div>
                            <div class="float-clear"></div>
                    </div>
                    <!-- END: Picture upload -->

                    <hr>

                    <!-- Headline -->
                    <div class="shift-left">
                        <h5 ng-bind="lc.getTerm('system_edit_information')"></h5>
                    </div>
                    <div class="shift-right">
                        <span class="glyphicon glyphicon-resize-full" ng-click="oc.toggleOverlay()"></span>
                    </div>
                    <div class="float-clear"></div>
                    <!-- END: Headline -->

                    <form ng-submit="tc.updateStatus(ac,lc,'notification_alert_save')">
                        <div class="shift-left" ng-style="{'max-width':'80%'}">
                            <div text-angular ng-model="tc.currentTopic.content" ng-style="{'max-height': '300px',
                                'overflow': 'scroll'}"></div>
                        </div>
                        <div class="shift-right">
                            <div class="panel panel-default pull-right">
                                <div class="panel-heading" ng-bind="lc.getTerm('system_supervisor_templates')"></div>
                                <div class="panel-body">ABC</div>
                            </div>
                        </div>

                        <div class="float-clear"></div>

                        <cancel-submit  cancel="lc.getTerm('system_edit_form_cancel')"
                                        submit="lc.getTerm('system_edit_form_create')">
                        </cancel-submit>
                    </form>
                    <div class="float-clear"></div>

                    <hr>

                    <h5 ng-bind="lc.getTerm('system_edit_footnotes')" ng-click="footnotes = !footnotes"></h5>

                    <div collapse="footnotes">
                            <!-- show footnotes -->
                            <show-footnotes uc="uc" tc="tc" gc="gc"></show-footnotes>

                            <!-- Footnote creation -->
                            <create-footnotes></create-footnotes>
                    </div>

                </div>


                <!--
                Show this annotation field iff status of the topic is in review
                -->
                <div ng-controller="AnnotationCtrl as annoCtrl">
                    <div id="concreteContent" ng-show="tc.currentTopic.status == 'ir'">
                        <div class="shift-right">
                            <button ng-click="annoCtrl.startAnnotation('#concreteContent')"
                                    class="btn btn-success" id="btn_create">
                                {{lc.getTerm('start_annotation')}}
                            </button>
                        </div>

                        <div ng-bind-html="tc.currentTopic.content"></div>
                    </div>
                </div>


                <!--
                Show the whole entry iff status of the topic is done
                -->
                <div ng-show="tc.currentTopic.status == 'done'">
                    <div ng-bind-html="tc.currentTopic.content"></div>
                </div>

            </div>


            <!--
            Show the chatBox
            -->
            <div class="col-sm-offset-1 col-sm-10" ng-show="showDiv == 2">
                <chat-box-big></chat-box-big>
            </div>

            <!--
            Show the history of the topic
            -->
            <div class="col-sm-offset-1 col-sm-10" ng-show="showDiv == 3">
                <topic-history languagecontroller="lc" topiccontroller="tc" usercontroller="uc"></topic-history>
            </div>
        </div>


        <!--
        GUEST VIEW: Reader
        -->
        <div ng-show="gc.userIDIsReaderOfGrp(uc.email,tc.currentTopic.group)
                            && !gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)">

            <div ng-bind-html="tc.currentTopic.content"></div>

            <!-- show footnotes -->
            <show-footnotes uc="uc" tc="tc" gc="gc"></show-footnotes>
        </div>


        <!--
        GUEST VIEW: NO rights
        -->
        <div ng-show="!gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)">

            <div ng-bind-html="tc.currentTopic.content"></div>

            <!-- show footnotes -->
            <show-footnotes uc="uc" tc="tc" gc="gc"></show-footnotes>
        </div>
    </div>
</div>
<div class="float-clear"></div>
