<div ng-controller="GroupCtrl as gc" ng-init="showDiv = 1">
    <div id="mainSingleBoxBig" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading" ng-show="gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)">
            <div class="shift-left">
                <a ng-href="/#/group/view/{{ tc.currentTopic.group }}"><back-arrow></back-arrow></a>
                <a ng-click="showDiv = 1">{{lc.getTerm('system_edit_header')}}:
                    {{ tc.currentTopic.name }} (V. {{ tc.topicVersion }})</a>
            </div>

            <div class="shift-right">
                <a ng-click="showDiv = 3" ng-bind="lc.getTerm('system_open_topicHistory')"> </a> |
                <a ng-click="showDiv = 2" ng-bind="lc.getTerm('system_open_chat')"> </a>
            </div>

            <div class="float-clear"></div>
        </div>

        <!--
        GROUP MEMBER VIEW
        -->
        <div ng-show="gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)" ng-init="status = false; picUpload = false; footnotes = true;
            lTopics = true; gps = true">
            <div class="panel-body shift-left" ng-controller="OverlayCtrl as oc" ng-show="showDiv == 1">

                <fullscreen-overlay>
                    <div text-angular ng-model="tc.currentTopic.content" ng-style="{'min-height': '500px',
                    'overflow': 'scroll', 'max-height':'550px'}"></div>
                </fullscreen-overlay>

                <h4 ng-click="status = !status">
                    <collapse-triangle condition="status"></collapse-triangle> {{lc.getTerm('system_edit_status')}}
                    <span class="pull-right label" ng-class="{'label-success':tc.evaluateMaxCharConstraint(tc.maxcharThreshold) == 'green',
                                                              'label-warning':tc.evaluateMaxCharConstraint(tc.maxcharThreshold) == 'yellow',
                                                              'label-danger':tc.evaluateMaxCharConstraint(tc.maxcharThreshold) == 'red'}">

                        {{lc.getTerm("chars_remaining")}}: {{tc.maxchar - tc.currentTopic.content.length}}</span>
                </h4>

                <div collapse="status">
                    <div class="well well-lg">
                        <a ng-href="/#/messages/send/{{ tc.supervisor }}/{{lc.getTerm('mail_supervisor_request')}}{{tc.currentTopic.name}}">
                            <button type="button" class="btn btn-primary btn-sm pull-right" ng-bind="lc.getTerm('system_edit_inform')"></button>
                        </a>

                        <span ng-bind-template="Deadline: {{ tc.getDateAsString() }}"></span>

                        <alert-box ac="ac"></alert-box>

                        <div class="radio" ng-click="tc.updateStatusAndByPassHistory(tc.currentTopic.status, ac, lc)">
                            <label>
                                <input type="radio" name="radioWIP" ng-model="tc.currentTopic.status" value="wip">{{lc.getTerm('system_wip')}}
                            </label>
                        </div>
                        <div class="radio" ng-click="tc.updateStatusAndByPassHistory(tc.currentTopic.status, ac, lc)">
                            <label>
                                <input type="radio" name="radioIR" ng-model="tc.currentTopic.status" value="ir">{{lc.getTerm('system_ir')}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radioDONE" ng-model="tc.currentTopic.status" value="done" disabled>{{lc.getTerm('system_done')}}
                            </label>
                        </div>
                    </div>
                </div>

                <hr>

                <!--
                Show this edit field iff status of the topic is work in progress
                -->
                <div ng-show="tc.currentTopic.status == 'wip'">

                    <!-- Picture upload -->
                    <h5 ng-click="picUpload = !picUpload">
                        <collapse-triangle condition="picUpload"></collapse-triangle> {{lc.getTerm('system_upload_header')}}
                    </h5>

                    <div collapse="picUpload">
                            <div class="shift-left">
                                <media-gallery files="tc.media"
                                               picturetooltip="lc.getTerm('tooltip_img_use')"
                                               deletetext="lc.getTerm('tooltip_img_delete')"
                                               opentext="lc.getTerm('open_image_meta')"
                                               sendmetadata="lc.getTerm('send_metadata')"
                                               copyto="tc"
                                               currenttype="lc.getTerm('current_type')"
                                               updatetype="lc.getTerm('update_type')"
                                               languagecontroller="lc"></media-gallery>
                            </div>
                            <div class="shift-right">
                                <upload-box label="lc.getTerm('system_upload')" tc="tc"></upload-box>
                            </div>
                            <div class="float-clear"></div>
                    </div>
                    <!-- END: Picture upload -->

                    <hr>

                    <!-- Headline -->
                    <div class="shift-left">
                        <h5 ng-bind="lc.getTerm('system_edit_information')"></h5>
                    </div>
                    <div class="shift-right">
                        <span class="glyphicon glyphicon-resize-full" ng-click="oc.toggleOverlay()"></span>
                    </div>
                    <div class="float-clear"></div>
                    <!-- END: Headline -->

                    <form ng-submit="tc.updateStatus(ac,lc,'notification_alert_save')">
                        <div class="shift-left" ng-style="{'max-width':'75%'}">
                            <div text-angular ng-model="tc.currentTopic.content" ng-style="{'max-height': '300px',
                                'overflow': 'scroll'}"></div>
                        </div>
                        <div class="shift-right">
                            <templates-box
                                            languagecontroller="lc"
                                            usercontroller="uc"
                                            groupcontroller="gc"
                                            showcondition="uc.isStudent()"
                                            append="tc"></templates-box>
                        </div>

                        <div class="float-clear"></div>

                        <cancel-submit  cancel="lc.getTerm('system_edit_form_cancel')"
                                        submit="lc.getTerm('system_edit_form_create')">
                        </cancel-submit>
                    </form>

                    <div class="float-clear"></div>

                    <br>

                    <!-- Add a new topic block -->
                    <div>
                        <div class="btn btn-primary btn-sm pull-right" ng-click="tc.addTextBlock()">+</div>

                        <br>

                        <ul>
                            <li ng-repeat="block in tc.currentTopic.nextTextBlock">
                                <a ng-href="/#/edit/{{ block }}"> nächster Textblock: {{block}} </a> <a ng-click="tc.removeTextBlock(block)">DELETE</a></li>
                        </ul>
                    </div>

                    <hr>

                    <h5 ng-click="gps = !gps; tc.initMap(tc.currentTopic.gps[0], tc.currentTopic.gps[1])">
                        <collapse-triangle condition="gps"></collapse-triangle> {{lc.getTerm('system_edit_gps')}}
                    </h5>

                    <div collapse="gps">
                        <!-- GPS -->
                        <input type="text" id="lat" ng-model="tc.currentTopic.gps[0]"> <input type="text" ng-model="tc.currentTopic.gps[1]">
                        <button type="button" class="btn btn-primary btn-sm" ng-bind="lc.getTerm('system_edit_gps')" ng-click="tc.updateGPS(); gps = !gps"></button>

                        <br>

                        <input type="text" ng-model="location" size="47">
                        <button type="button" class="btn btn-primary btn-sm" ng-bind="lc.getTerm('system_update_gpsByAddress')" ng-click="tc.setGeoCodeByAddress(location)"></button>

                        <br>

                        <div id="map" style="width: 600px; height: 300px"></div>
                        <!-- END OF: GPS -->
                    </div>

                    <h5 ng-click="footnotes = !footnotes">
                        <collapse-triangle condition="footnotes"></collapse-triangle> {{lc.getTerm('system_edit_footnotes')}}
                    </h5>

                    <div collapse="footnotes">
                            <!-- show footnotes -->
                            <show-footnotes uc="uc" tc="tc" gc="gc"></show-footnotes>

                            <!-- Footnote creation -->
                            <create-footnotes></create-footnotes>
                    </div>

                    <h5 ng-click="lTopics = !lTopics">
                        <collapse-triangle condition="lTopics"></collapse-triangle> {{lc.getTerm('system_edit_linked_topics')}}
                    </h5>

                    <div collapse="lTopics">
                        <!-- show linked topics -->
                        <show-topic-links usercontroller="uc" topiccontroller="tc" groupcontroller="gc"></show-topic-links>

                        <!-- Link creation -->
                        <create-topic-links
                                languagecontroller="lc"
                                usercontroller="uc"
                                groupcontroller="gc"
                                topiccontroller="tc"></create-topic-links>
                    </div>

                    <hr>

                    <tag-cloud topiccontroller="tc" languagecontroller="lc"></tag-cloud>
                </div>


                <!--
                Show this annotation field iff status of the topic is in review
                -->
                <div ng-controller="AnnotationCtrl as annoCtrl">
                    <div id="concreteContent" ng-show="tc.currentTopic.status == 'ir'">
                        <div class="shift-right">
                            <button ng-click="annoCtrl.startAnnotation('#concreteContent')"
                                    class="btn btn-success" id="btn_create">
                                {{lc.getTerm('start_annotation')}}
                            </button>
                        </div>

                        <div ng-bind-html="tc.currentTopic.content"></div>
                    </div>
                </div>


                <!--
                Show the whole entry iff status of the topic is done
                -->
                <div ng-show="tc.currentTopic.status == 'done'">
                    <div ng-bind-html="tc.currentTopic.content"></div>
                </div>

            </div>


            <!--
            Show the chatBox
            -->
            <div class="col-sm-offset-1 col-sm-10" ng-show="showDiv == 2">
                <chat-box-big></chat-box-big>
            </div>

            <!--
            Show the history of the topic
            -->
            <div class="col-sm-offset-1 col-sm-10" ng-show="showDiv == 3">
                <topic-history languagecontroller="lc" topiccontroller="tc" usercontroller="uc"></topic-history>
            </div>
        </div>


        <!--
        GUEST VIEW: Reader
        -->
        <div ng-show="gc.userIDIsReaderOfGrp(uc.email,tc.currentTopic.group)
                            && !gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)">

            <div ng-bind-html="tc.currentTopic.content"></div>

            <!-- show footnotes -->
            <show-footnotes uc="uc" tc="tc" gc="gc"></show-footnotes>
        </div>


        <!--
        GUEST VIEW: NO rights
        -->
        <div ng-show="!gc.userIDIsMemberOfGrp(uc.email,tc.currentTopic.group)">

            <div ng-bind-html="tc.currentTopic.content"></div>

            <!-- show footnotes -->
            <show-footnotes uc="uc" tc="tc" gc="gc"></show-footnotes>
        </div>
    </div>
</div>
<div class="float-clear"></div>
