<div ng-controller="GroupCtrl as gc">
    <div id="mainSingleBoxBig" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading">
            <a ng-href="/#/group/view/{{ tc.currentTopic.group }}"><back-arrow></back-arrow></a>
            {{lc.getTerm('system_edit_header')}}: {{ tc.currentTopic.name }} </div>
        <div >

            <div class="panel-body shift-left" ng-controller="OverlayCtrl as oc">
                <fullscreen-overlay>
                    <div text-angular ng-model="tc.currentTopic.content" ng-style="{'min-height': '500px',
                    'overflow': 'scroll', 'max-height':'550px'}"></div>
                </fullscreen-overlay>


                <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                      ng-submit="tc.updateStatus(ac,lc,'notification_alert_save')">
                    <h4> {{lc.getTerm('system_edit_status')}}</h4>

                    <alert-box></alert-box>

                    <div class="radio" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">
                        <label>
                            <input type="radio" name="radioWIP" ng-model="tc.currentTopic.status" value="wip" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">{{lc.getTerm('system_wip')}}
                        </label>
                    </div>
                    <div class="radio" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">
                        <label>
                            <input type="radio" name="radioIR" ng-model="tc.currentTopic.status" value="ir" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">{{lc.getTerm('system_ir')}}
                        </label>
                    </div>
                    <div class="radio" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">
                        <label>
                            <input type="radio" name="radioDONE" ng-model="tc.currentTopic.status" value="done" ng-click="tc.updateStatusIfAllowedByContraints(ac,lc)">{{lc.getTerm('system_done')}}
                        </label>
                    </div>
                    <hr>

                    <div>
                        <div class="shift-left">
                            <h4>{{lc.getTerm('system_edit_information')}} </h4>
                        </div>
                        <div class="shift-right">
                            <span class="glyphicon glyphicon-resize-full" ng-click="oc.toggleOverlay()"></span>
                        </div>
                        <div class="float-clear"></div>
                    </div>

                    <div text-angular ng-model="tc.currentTopic.content" ng-style="{'max-height': '300px',
                    'overflow': 'scroll'}"></div>

                    <cancel-submit  cancel="lc.getTerm('system_edit_form_cancel')"
                                    submit="lc.getTerm('system_edit_form_create')">
                    </cancel-submit>

                </form>
            </div>

            
            <div class="col-sm-offset-1 col-sm-10">
                <chat-box-big></chat-box-big>
            </div>


        </div>
    </div>
</div>
<div class="float-clear"></div>
