<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading">
            <a ng-href="/#/group/viewexternal/{{ tc.currentTopic.group }}"><back-arrow></back-arrow></a>
            {{lc.getTerm('system_topic_detail_head')}}
        </div>
        <div>
            <div class="panel-body">
                <div id="concreteContent" ng-show="tc.currentTopic.status == 'done'">
                    <h4 ng-bind="tc.currentTopic.name"></h4>

                    <br>

                    <div ng-bind-html="tc.currentTopic.content"></div>

                    <br>
                </div>

                <div id="briefContent" ng-show="tc.currentTopic.status != 'done'">
                    <h4 ng-bind="tc.currentTopic.name"></h4>

                    <br>

                    <ul>
                        <li>
                            {{lc.getTerm('system_amount_chars')}}: {{tc.currentTopic.content.length}} =>
                            {{lc.getTerm('system_missing_amount')}}
                        </li>

                        <li>
                            {{lc.getTerm('system_amount_pics')}}: {{tc.currentTopic.content.split("img").length - 1}} =>
                            {{lc.getTerm('system_missing_amount')}}
                        </li>
                    </ul>

                    <hr>

                    <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                          ng-submit="tc.updateConstraints()">
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="input-group" ng-repeat="constraint in tc.constraintsForThisTopic">
                                    <span class="input-group-addon">
                                        {{ constraint.name }}
                                    </span>

                                    <input type="text" class="form-control" name="groupName" id="groupName" placeholder=""
                                           ng-model="constraint.value" tooltip="{{lc.getTerm('tooltip_constraint')}}"
                                           tooltip-trigger="focus" tooltip-placement="right">
                                </div>

                                <cancel-submit  cancel="lc.getTerm('system_groups_form_cancel')"
                                                submit="lc.getTerm('system_topic_detail_changeConstraint')">
                                </cancel-submit>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
