<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <div id="groups" class="panel panel-default" >

        <div class="panel-heading">
            <div class="menuLeft">Groups</div>
            <div class="menuRight"> <a ng-init="gc.getGroups()" ng-click="gc.getGroups()">
                <span class='glyphicon  glyphicon-refresh'></span> </a>
            </div>
            <div class="float-clear"></div>
        </div> <!-- alt: class="boxHeader" -->

        <div class="panel-body">
            <div class="menuEntry" ng-repeat="grp in gc.groups">
                <div class="menuLeft">{{ grp.name }}</div>
                <div class="menuRight"> [<span ng-click="gc.deleteGroup(grp.uID)" class="glyphicon glyphicon-trash">]</span></div>
                <div class="float-clear"></div>
            </div>
        </div> <!-- alt: class="boxContent" -->

        <div class="float-clear"></div>
    </div>

    <div id="mainBox">
        <div class="float-clear"></div>

        <div id="welcomePanel" class="panel panel-success">
            <div id="welcomeBox" class="panel-heading"> Welcome </div>
            <div class="panel-footer"> Data review </div> <!-- alt: id="dataReview" -->
        </div>

        <div id="contentBox">
            <div id="supervisorNavigation" class="panel panel-default">
                <div class="panel-heading"> Supervisor Navigation </div>
                <div class="panel-body">
                    <ul>
                        <li> <a href="#"> ... </a> </li>
                        <li> <a href="/#/group/create"> Add Group </a> </li>
                        <li> <a href="#"> ... </a> </li>
                    </ul>
                </div>
            </div>

            <div id="groupNotification" class="panel panel-default">
                <div class="panel-heading"> Group Notification </div>
                <div class="panel-body"> bla </div>
            </div>

            <div id="templates" class="panel panel-default">
                <div class="panel-heading"> Templates </div>
                <div class="panel-body"> bla </div>
            </div>

            <div class="float-clear"></div>
        </div>
    </div>

    <div class="float-clear"></div>
</div>