<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <div id="groups" class="panel panel-default" >
        <div class="panel-heading">  Groups  </div> <!-- alt: class="boxHeader" -->
        <div class="panel-body">
            <ul ng-repeat="grp in gc.groups">
                <li>
                    {{ grp.name }}
                </li>
            </ul>
        </div> <!-- alt: class="boxContent" -->

        <div class="float-clear"></div>
    </div>

    <div id="mainBox">
        <div class="float-clear"></div>

        <div id="welcomePanel" class="panel panel-success">
            <div id="welcomeBox" class="panel-heading"> Welcome </div>
            <div class="panel-footer"> Data review </div> <!-- alt: id="dataReview" -->
        </div>

        <div id="contentBox">
            <div id="supervisorNavigation" class="panel panel-default">
                <div class="panel-heading"> Supervisor Navigation </div>
                <div class="panel-body">
                    <ul>
                        <li> <a href="#"> ... </a> </li>
                        <li> <a href="/#/group/create"> Add Group </a> </li>
                        <li> <a href="#"> ... </a> </li>
                    </ul>
                </div>
            </div>

            <div id="groupNotification" class="panel panel-default">
                <div class="panel-heading"> Group Notification </div>
                <div class="panel-body"> bla </div>
            </div>

            <div id="templates" class="panel panel-default">
                <div class="panel-heading"> Templates </div>
                <div class="panel-body"> bla </div>
            </div>

            <div class="float-clear"></div>
        </div>
    </div>

    <div class="float-clear"></div>
</div>