<!-- Content -->
<div ng-controller="GroupCtrl as gc">
    <div id="groups" class="panel panel-default" >

        <div class="panel-heading">
            <div class="menuLeft">{{lc.getTerm('system_groups')}}</div>
            <div class="menuRight"> <a ng-init="gc.getGroups()" ng-click="gc.getGroups()">
                <span class='glyphicon  glyphicon-refresh'></span> </a>
            </div>
            <div class="float-clear"></div>
        </div>

        <div class="panel-body">
            <div class="menuEntry" ng-repeat="grp in gc.groups">
                <div class="menuLeft">
                    <a ng-href="/#/group/view/{{ grp.uID }}">{{ grp.name }}</a>
                </div>

                <div class="menuRight">
                    [<span ng-click="gc.deleteGroup(grp.uID)" class="glyphicon glyphicon-trash">]</span>
                </div>

                <div class="float-clear"></div>
            </div>
        </div>

        <div class="float-clear"></div>
    </div>

    <div id="mainBox">
        <div class="float-clear"></div>

        <div id="welcomePanel" class="panel panel-success">
            <div id="welcomeBox" class="panel-heading"> {{lc.getTerm('system_supervisor_welcome')}} {{uc.firstname}}</div>
            <div class="panel-footer"> {{lc.getTerm('system_supervisor_datareview')}} </div> <!-- alt: id="dataReview" -->
        </div>

        <div id="contentBox">
            <div id="supervisorNavigation" class="panel panel-default">
                <div class="panel-heading"> {{lc.getTerm('system_supervisor_navigation')}} </div>
                <div class="panel-body">
                    <ul>
                        <li> <a href="#"> ... </a> </li>
                        <li> <a href="/#/topic/create"> {{lc.getTerm('system_supervisor_navigation_addTopic')}} </a> </li>
                        <li> <a href="/#/group/create"> {{lc.getTerm('system_supervisor_navigation_addGroup')}} </a> </li>
                        <li> <a href="#"> ... </a> </li>
                    </ul>
                </div>
            </div>

            <div id="groupNotification" class="panel panel-default">
                <div class="panel-heading"> {{lc.getTerm('system_group_notification')}} </div>
                <div class="panel-body"> bla </div>
            </div>

            <div id="templates" class="panel panel-default">
                <div class="panel-heading"> {{lc.getTerm('system_supervisor_templates')}} </div>
                <div class="panel-body"> bla </div>
            </div>

            <div class="float-clear"></div>
        </div>
    </div>

    <div class="float-clear"></div>
</div>