<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="TopicCtrl as tc" ng-init="choice = 1">
        <div class="panel-heading" ng-bind="lc.getTerm('system_topic_createOrcopy')"></div>

        <div class="panel-body">
            <alert-box></alert-box>

            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active : choice == 1}" ng-click="choice=1"><a href ng-bind="lc.getTerm('system_topic_header')"></a></li>
                <li role="presentation" ng-class="{active : choice == 2}" ng-click="choice=2"><a href ng-bind="lc.getTerm('system_topic_copy')"></a></li>
            </ul>

            <br>

            <!-- create new topic form -->
            <form class="form-horizontal" role="form" ng-submit="tc.createTopic()" ng-show="choice == 1">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" ng-bind="lc.getTerm('system_topic_form_name')"></span>
                            <input type="text" class="form-control" ng-model="tc.currentTopic.name"
                                   tooltip="{{lc.getTerm('tooltip_createGroup_mainTopic')}}"
                                   tooltip-trigger="focus" tooltip-placement="right">
                        </div>
                    </div>

                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" ng-bind="lc.getTerm('system_topic_form_group')"></span>
                            <input type="text" class="form-control" ng-model="group.name"
                                   tooltip-html-unsafe="{{lc.getTerm('tooltip_select_group')}}"
                                   typeahead="group.name for group in gc.groupsCreatedByThisUserOrUserIsMemberOfGroup | filter:$viewValue | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-on-select="tc.currentTopic.group = $item.uID"
                                   tooltip-trigger="focus" tooltip-placement="right">
                        </div>
                    </div>

                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" ng-bind="lc.getTerm('system_topic_form_sub')"></span>
                            <input type="text" class="form-control" ng-model="tc.currentTopicSubTopicsAsString"
                                   tooltip-html-unsafe="{{lc.getTerm('tooltip_createGroup_subTopic')}}"
                                   tooltip-trigger="focus" tooltip-placement="right">
                        </div>
                    </div>
                </div>

                <div class="form-group" >
                    <div class="col-sm-offset-1 col-sm-10">
                        <h4 ng-bind="lc.getTerm('choose_Deadline')"></h4>
                        <datepicker ng-model="tc.currentTopic.deadline" min-date="minDate" data-date-format="MM/DD/YYYY"
                                    show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3 text-right">
                        <a ng-href="/#/myhip" class="btn btn-warning" ng-bind="lc.getTerm('system_topic_form_cancel')"></a>
                    </div>

                    <div class="col-sm-offset-1 col-sm-6 text-right">
                        <button type="submit" ng-click="ac.addAlert(lc.getTerm('notification_topic_created'),'info')"
                                class="btn btn-success" ng-bind="lc.getTerm('system_topic_form_create')"></button>
                    </div>
                </div>
            </form>
            <!-- end of: create new topic form -->

            <!-- copy topic form -->
            <form class="form-horizontal" role="form" ng-submit="tc.copyTopic(tc.currentTopic.uID,tc.currentTopic.group,
                        tc.modifyTopicName)" ng-show="choice == 2">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" ng-bind="lc.getTerm('system_topic_all')"></span>
                            <input type="text" class="form-control" ng-model="topic.name"
                                   ng-click="tc.getAllTopics()"
                                   tooltip-html-unsafe="{{lc.getTerm('tooltip_select_group')}}"
                                   typeahead="topic.name for topic in tc.topics | filter:$viewValue | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-on-select="tc.currentTopic = $item"
                                   tooltip-trigger="focus" tooltip-placement="right">
                        </div>
                    </div>

                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" ng-bind="lc.getTerm('system_topic_form_copyname')"></span>
                            <input type="text" class="form-control" ng-model="tc.modifyTopicName">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon" ng-bind="lc.getTerm('system_topic_form_group')"></span>
                            <input type="text" class="form-control" ng-model="group.name"
                                   tooltip-html-unsafe="{{lc.getTerm('tooltip_select_group')}}"
                                   typeahead="group.name for group in gc.groupsCreatedByThisUserOrUserIsMemberOfGroup | filter:$viewValue | limitTo:8"
                                   typeahead-editable="false"
                                   typeahead-on-select="tc.currentTopic.group = $item.uID"
                                   tooltip-trigger="focus" tooltip-placement="right">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-3 text-right">
                        <a ng-href="/#/myhip" class="btn btn-warning" ng-bind="lc.getTerm('system_topic_form_cancel')"></a>
                    </div>

                    <div class="col-sm-offset-1 col-sm-6 text-right">
                        <button type="submit"  ng-click="ac.addAlert(lc.getTerm('notification_topic_copied'),'info')"
                                class="btn btn-success" ng-bind="lc.getTerm('system_topic_form_create')"></button>
                    </div>
                </div>
            </form>
            <!-- end of: copy topic form -->
        </div>

    </div>
</div>
<div class="float-clear"></div>
