<div ng-controller="GroupCtrl as gc">
    <div id="groups" class="panel panel-default">
        <div class="panel-heading">
            <div class="menuLeft">{{lc.getTerm('system_groups')}}</div>
            <div class="menuRight"> <a ng-init="gc.getGroups()" ng-click="gc.getGroups()">
                <span class='glyphicon  glyphicon-refresh'></span> </a>
            </div>
            <div class="float-clear"></div>
        </div> <!-- alt: class="boxHeader" -->

        <div class="panel-body">
            <div class="menuEntry" ng-repeat="grp in gc.groupsCreatedByThisUserOrUserIsMemberOfGroup">
                <div class="menuLeft">  <a ng-href="/#/group/view/{{ grp.uID }}">{{ grp.name }}</a></div>
                <div class="menuRight"> [<span ng-click="gc.deleteGroup(grp.uID)" class="glyphicon glyphicon-trash">]</span></div>
                <div class="float-clear"></div>
            </div>
        </div>

        <div class="float-clear"></div>
    </div>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading"> {{lc.getTerm('system_groups_header')}} </div>
        <div >


            <div class="panel-body">
                <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                      ng-submit="gc.createGroup(uc.email,uc.firstname)">
                    <h4>{{lc.getTerm('system_groups_information')}}</h4>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">{{lc.getTerm('system_groups_form_name')}}</span>
                                <input type="text" class="form-control" name="groupName" id="groupName" placeholder=""
                                    ng-model="gc.currentGroup.name" tooltip="{{lc.getTerm('tooltip_createGroup_name')}}"
                                    tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">{{lc.getTerm('system_groups_form_member')}}</span>
                                <input type="text" class="form-control" name="groupMember" id="groupMember" placeholder=""
                                       ng-model="gc.currentGroup.member" tooltip="{{lc.getTerm('tooltip_createGroup_member')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">{{lc.getTerm('system_groups_form_topic')}}</span>
                                <input type="text" class="form-control" name="groupTopic" id="groupTopic" placeholder=""
                                       ng-model="gc.currentGroupTopic.topic" tooltip="{{lc.getTerm('tooltip_createGroup_mainTopic')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">{{lc.getTerm('system_groups_form_subtopic')}}</span>
                                <input type="text" class="form-control" name="groupSubTopic" id="groupSubTopic" placeholder=""
                                       ng-model="gc.currentGroupTopic.subtopics" tooltip-html-unsafe="{{lc.getTerm('tooltip_createGroup_subTopic')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-1 text-right">
                            <a ng-href="/#/myhip" id="btn_cancel" class="btn btn-warning">{{lc.getTerm('system_groups_form_cancel')}}</a>
                        </div>

                        <div class="col-sm-offset-1 col-sm-6 text-right">
                            <button type="submit" class="btn btn-success" id="btn_create">{{lc.getTerm('system_groups_form_create')}}</button>
                        </div>
                    </div>

                </form>
             </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
