<div ng-controller="GroupCtrl as gc">
    <group-box></group-box>

    <div id="mainSingleBox" class="panel panel-default" ng-controller="TopicCtrl as tc">
        <div class="panel-heading" ng-bind="lc.getTerm('system_groups_header')"></div>
        <div >


            <div class="panel-body">
                <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                      ng-submit="gc.createGroup(uc.email,uc.firstname)">

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <h4 ng-bind="lc.getTerm('system_groups_information')"></h4>
                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_groups_form_name')"></span>
                                <input type="text" class="form-control" name="groupName" id="groupName" placeholder=""
                                    ng-model="gc.currentGroup.name" tooltip="{{lc.getTerm('tooltip_createGroup_name')}}"
                                    tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_groups_form_topic')"></span>
                                <input type="text" class="form-control" name="groupTopic" id="groupTopic" placeholder=""
                                       ng-model="gc.currentGroupTopic.topic" tooltip="{{lc.getTerm('tooltip_createGroup_mainTopic')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" ng-bind="lc.getTerm('system_groups_form_subtopic')"></span>
                                <input type="text" class="form-control" name="groupSubTopic" id="groupSubTopic" placeholder=""
                                       ng-model="gc.currentGroupTopic.subtopics" tooltip-html-unsafe="{{lc.getTerm('tooltip_createGroup_subTopic')}}"
                                       tooltip-trigger="focus" tooltip-placement="right">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="col-sm-offset-1 col-sm-10">
                            <user-selector></user-selector>
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="col-sm-offset-1 col-sm-10">
                            <h4 ng-bind="lc.getTerm('choose_Deadline')"></h4>
                            <datepicker ng-model="gc.currentGroupTopic.deadline" min-date="minDate" data-date-format="MM/DD/YYYY"
                                        show-weeks="true" class="well well-sm"></datepicker>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10">
                            <cancel-submit  cancel="lc.getTerm('system_groups_form_cancel')"
                                            submit="lc.getTerm('system_groups_form_create')">
                            </cancel-submit>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
<div class="float-clear"></div>
