
/* ===================
* Main-Body
* =================== */
body{
	width: 1400px;
	margin: auto;
}
#mainSingleBox{
    float: left;
    width: 940px;

    margin-top: 15px;
}

.upperNavigation ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.upperNavigation ul li {
	float: left;
}

.upperNavigation ul li a{
	text-decoration: none;
	display: block;

	padding: 4px 5px 3px 5px;
	border-left: 2px solid white;
}

.upperNavigation ul li a:hover,
.upperNavigation ul li a:focus{
	color: #cc1511;
	background-color: #f37e00;
}

.td-small { min-width: 100px; }
.td-big   { min-width: 200px; }

.boxHeader{
	min-height: 25px;

    background-color: #172b72;
    color: #f1f1f1;

	padding: 5px;
}

.boxContent{
	margin: 15px;

	background-color: #ffffff;
}

.panel-body a:hover{
    color: #f37e00;
}

.menuEntry{
    padding: 5px;
    border-radius: 5px;
}

.menuEntry:hover{
    color: #f37e00;
    background-color: #172b72;
}

.menuLeft{
    float:left;
}

.menuRight{
    float:right;
}

/* ===================
* Chat
* =================== */
#chatTextfield{
    float: left;

}

#chatSendButton{
    float: right;

}

::-webkit-scrollbar {
    display: none;
}

#chatContent{
    overflow-y: auto;
    overflow-x: auto;

    height: 300px;
}
/* ===================
* Head
* =================== */
#header{
	padding-top: 15px;
	clear: both;
}

#logo{
	float: left;
	margin-right: 50px;
}

.float-clear{
	clear: both;
}
/* ===================
* Navigation
* =================== */
nav {
	margin: 15px;
	margin-right: 0px;

    background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
    background-repeat: repeat-x;

	float: right;

    border-radius: 5px;

	min-width: 600px;
}
/* ===================
* content: Supervisor
* =================== */
#groups{
	margin-top:	 	15px;
	margin-right: 	15px;

	float: left;

	width: 180px;

	min-height: 555px;

    /* outline: 2px solid grey; */
}

#mainBox{
	float: left;
	width: 940px;
}

#welcomePanel{
    margin-top: 15px;
}

#welcomeBox{
	min-height: 25px;
}

#dataReview{
	min-height: 20px;

	padding: 5px;
	background-color: #cccccc;
}

#supervisorNavigation,
#groupNotification,
#templates{
	min-height: 450px;

    /* outline: 2px solid grey; */
}

#supervisorNavigation{
	float:left;
	width: 200px;
}

#groupNotification{
	float: left;
	width: 450px;

	margin-left: 15px;
	margin-right: 15px;
}

#templates{
	float: right;
	width: 260px;
}

#contentBox{
	margin-top: 15px;
}

/* ===================
* Footer
* =================== */
#footer{
	margin-top: 15px;
	min-height: 30px;

	background-color: #172b72;

    border-radius: 5px;
}

#footer-left{
    margin: 5px;
    float: left;
    color: #f1f1f1;
}

#footer-content{
	margin: 5px;
	float: right;
	color: #f1f1f1;
}